/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--colour-primary);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }


/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
:root{
    --colour-primary:#006241;
    --colour-secondary:#1e3932;
    --colour-extra:#d4e9e2;
}
*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
html, body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
    color: #000;
}
a{
    color: #000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
/* Buttons */

.btn{
    cursor: pointer;
    border-radius: 30px;
    padding: 2px;
    margin: 0;
}
.btn-light{
    color: #fff;
    border: #fff solid 1px;
    background: transparent;
}
.btn-dark{
    color: #000;
    border: #000 solid 1px ;
}
.btn-sm{
    height: 10px;
    width: auto;
    font-size: 12px;
}
.btn-md{
    height: 10px;
    width: 30px;
}
.btn-lg{
    padding: 15px 70px;
    height: auto;
    width: auto;
}
.btn-long{
    padding:8px 65px;
    border-radius: 25px;
}
.bg-primary{
    color: #fff;
    background-color: #00754a;
}
.bg-white{
    background-color: #fff;
    color: #000;
    border: none;
}
/* Search box */
input[type="text"]{
    cursor: text;
    border: none;
    height: 17px;
    border-radius: 20px;
    height: 30px;
    font-size: 12px;
    width: 100%;
}
.container{
    width: 81%;
    margin-left: auto;
    margin-right: auto;
}
/* Navbar */
.navigation{
    position: sticky;
    top: 0;
    background-color: #fff;
    width: 100%;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.current{
    font-weight: bold;
    border-bottom: #006241 solid 3px;
}
.box1 img{
    width: 40px;
    padding-top: 1px;
}
.navbar-container .box2{
    display: flex;
    padding-right: 50px;
    align-items: flex-start;

}
.box2 li{
    height: 30px;
    margin-right: 60px;
    font-size: 15px;

}

.box3{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    border-radius: 25px;
    padding-left: 20px;
    min-width: 250px;
}
.box3 img{
    background-color: transparent;
    cursor: text;
    margin-right: 4px;
    width: 20px;
}
.box3 input{
    outline: none;
}

/* Reward Section */
.reward{
    display: flex;
    background-color: #1e3932;
    color: #fff;
    font-weight: lighter;
    width: 100%;
    /* height: 78px; */
    align-items: center;
    margin-bottom: 28px;
}
.reward-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 12px;
    padding: 12px 24px 18px;
    margin-top:  12px;
    margin-bottom: 12px;

}
.btn-reward{
    margin-right: 20px;
    padding: 7px 10px;
    height: auto;
}
.reward-container .box{
    font-weight: lighter;
}

/* Handcraft Section */
.hand-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-bottom: 50px;
}
.hand-box1{
    margin-bottom: 1em;
    color: #1e3932;
    font-weight: bold;
}
.hand-box2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hand-box2 li img:hover{
    cursor: pointer;
    border: var(--colour-primary) solid 2px;
    transition: all 0.3s;
}
.hand-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hand-box h4{
    font-size: 14px;
}
.hand-box img{
    width: 108px;
    height: 108px;
    border-radius: 100px;
    border: white 2px solid;
}
.hand-box2 h4{
    color: #212529;
}

/* Barista Section */
.menu-btn{
    color: var(--colour-primary);
    border: none;
    font-weight: bold;
    font-size: 12px;
    font-stretch: extra-expanded;
    padding: 0;
}

.btn-barista{
    padding: 8px 20px;
    cursor: pointer;
    width: auto;
    height: auto;
    border-radius: 25px;
    border: none;
    margin-right: 5px;
}
.btn-barista:hover{
    background-color: #0e382c;
    transition: all 0.3s;
}
/* .barista-container{
    background: url(./Images/BaristaBackground.svg) no-repeat;
    background-position-x: 100%;
    background-size: 60px;
    margin-top: 65px;
    width: 100%;
    min-height: 200px;
    background-color: #edebe9;
    padding-bottom:60px;
    margin-bottom: 75px;
}

.barista{
    display: flex;
    flex-direction: column;
}
.barista-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #1e3932;
    font-weight: bold;
    padding: 30px 0px;
}
.barista-box1 h1{
    font-weight: 700;
}
.barista-box2 {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.barista-box2 .barista-inner{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 3fr 2fr;
    column-gap: 12px;
    width: 350px;
    height: 125px;
    border-radius: 10px;
    padding: 15px 20px;
    background-color: #fff;
    border: #0000003f solid 1px;
    margin-right: 25px;
}
.barista-inner:last-child{
    margin-right: 0px;
}
.barista-inner .item1{
    grid-column-start: 1;
    grid-column-end: 2;
}
.barista-inner .item2{
    padding-top: 5px;
    grid-column-start: 2;
    grid-column-end: 4;
}
.barista-inner .item3{
    align-self: center;
    justify-self: flex-start;
    font-size: 17px;
    color: #000000e3;
}
.barista-inner .item4{
    align-self: center;
    justify-self: flex-end;
}
.barista-inner .photo{
    width: 85px;
    height: 85px;
    border-radius: 8px;
    object-fit: cover;
}
.barista-inner .name{
    font-size: 15px;
    padding-bottom: 4px;
    font-weight: bold ;
}
.barista-inner .info{
    font-size: 10px;
    color: #00000088;
}
.barista-inner .veg{
    padding: 0;
} */

.barista{
    background-color: #edebe9;
}
.barista-container{
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    padding-bottom: 4em;
}
.barista-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.barista-box1 h4{
    font-size: 24px;
    color: #0e382c;
    font-weight: bold;
}
.barista-box2{
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-around;
    
}
.barista-card{
    width: 25%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 2px #00000012, 0 2px 2px #0000000f, 0 1px 3px #0000001a;
    padding: 1em 1.5em;
    border-radius: 5px;
    border: rgba(0, 0, 0, .175) solid 1px;
}
.brst-inner1{
    display: flex;
}
.brst-inner1  img{
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.brst-inner1 .veg {
    width: 16px;
    height: 16px;
    border-radius: 0;
}
.brst-inner1 .name{
    font-size: 14px;
    font-weight: 600;
}
.brst-inner1 .info{
    font-size: 10px;
    font-weight: light;
}
.brst-name{
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
    row-gap: 3px;
    word-wrap: break-word;
}
.brst-inner2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brst-inner2 .brst-price h1{
    font-size: 14px;
}
.brst-inner2 .brst-btn{
}




/* Special Offer Section */
.special-container{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    gap: 10px;
    color: #fff;
    background-color: var(--colour-primary);
    border-radius: 8px;
    margin-bottom: 80px;
}
.special-container .special-box1{
    padding-top: 15px;
}
.special-container .special-box1 img{
    height: 210px;
}
.special-box2{
    align-self: center;
}
.special-box2 .special-box2-inner{
    display: grid;
    margin: 20px 0px;
    gap: 10px;
}
.special-box3{
    justify-self: flex-end;
    align-self: flex-end;
    padding-bottom: 25px;
    padding-right: 25px; 
}

/* Learn More Section */
.learn-container{
    background-color: #edebe9;
    margin-bottom: 30px;
    padding-bottom: 25px;
    margin-bottom: 80px;
}
.learn-inner1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    margin-bottom: 30px;
}
.learn-inner1 .left{
    color: #1e3932;
}
.learn-inner1 .right{
    padding: 0;
    margin: 0;
}
.btn-learn{
    border: none;
    color: var(--colour-primary);
    padding: 0;
    margin: 0;
}
.learn-inner2{
    background: url(./Images/learn1.png);
    background-color: rgba(128, 128, 128, 0.589);
    background-blend-mode: multiply;
    background-position: center;
    height: 370px;
    border-radius: 8px;
    padding-left: 35px;
}
.learn-inner2:hover{
    cursor: pointer;
    background-color: #00000091;
    background-blend-mode: multiply;
    transition: all 0.5s;
}
.learn-inner2-box{
    width: 50%;
    color: #fff;
    padding-top: 175px;
}
.learn-inner2-box p{
    padding: 12px 0px;
    font-size: smaller;
}
.learn-inner2-box button{
    margin-top: 35px;
    font-size: small;
}

/* Footer */
.footer-container{
    background-color: #0e382c;
    padding-bottom: 25px;
}
.outer1{
    display: flex;
    padding-top: 60px;
    color: #fff;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 300px;
    margin-bottom: 30px;
}
.outer1 .img-link{
    padding-top: 5px;
    /* padding-right: 80px; */
}
.links{
    display: flex;
    flex-direction: column;
}
.links h1{
    font-size: 18px;
    padding-bottom: 20px;
}
.links a{
    padding-bottom: 30px;
    font-size: 13px;
    font-weight: lighter;
    color: #fff; 
}
.social-media{
    display: flex;
    justify-content: space-between;
}
.social-media:first-child{
    margin-right: 30px;
}
.social-box1{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}
.social-box1 h1{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 17px;
}
.social-box1-inner1{
    display: flex;
    justify-content: space-between;
}

.social-box2{
    display: flex;
    flex-direction: column;
}
.social-box2 img{
    padding-bottom: 10px;
}

/* Outer 2 */
.outer2{
    display: flex;
    justify-content: space-between;
    border-top:#a0a0a0 solid 1px;
    padding: 25px 0px;
    font-size: 13px;
}
.outer2 a{
    color: #fff;

}
.outer2-inner1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.outer2-inner1 .innerlist{
    display: flex;
}
.outer2-inner1 .innerlist li{
    padding: 0px 15px;
    border-right: #a0a0a0 solid 1px;
    font-size: 12px;
    font-stretch: ultra-expanded;
}
.outer2-inner1 .innerlist li:first-child{
    padding-left: 0px;
}
.outer2-inner1 .innerlist li:last-child{
    border-right: none;
}
.outer2-inner2{
    font-size: 11px;
}



/* Media Query */

@media(max-width:768px){
    .container{
        width: 95%;
    }
    .navbar-container{
        flex-direction: column;
        gap: 30px;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }
    .navbar-container .box2{
        margin-right: 0px;
        padding-right: 0px;
        align-items: center;
        justify-content: space-around;
        width: 90%;
    }
    .navbar-container .box2 li{
        margin: 0px;
        align-self: center;
    }
    .navbar-container .box3{
        width: 80%;
        padding-left: 0;
    }
    .navbar-container .box4 {
        position: absolute;
        right: 0;
        top: 7;
    }
    .reward{
        margin-top: 0px;
        height: auto;
        width: auto;
    }
    .reward-container{
        padding-bottom: 0;
    }

    
    .hand-container{
        margin-bottom: 0;
    }
    .hand-container .hand-box1{
        margin-bottom: 20px;
    }
    .hand-container .hand-box2{
        justify-content: space-around;
    }
    .hand-container .hand-box2 li{
        width: 30%;
    }
    .hand-container .hand-box2 .hand-box{
        margin-bottom: 30px;
    }

    .barista-inner{
        overflow: hidden;
        border: black solid 1px;
        
    }
    .barista-box2 li{
        border: black solid 1px;
        border: black solid 1px;
    }

    .special-container{
        font-size: small;

    }
    .special-container .btn-lg{
        padding: 8px 20px;
    }

    .footer-container{
        gap: 200px;
    }
    .footer-container .social-media{
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-container .social-box1{
        padding: 0;
        margin-bottom: 25px;
    }
   


}